.list-group-transparent .list-group-item {
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.card-profile .card-header {
    height: 7rem;
}

.border-bottom-gray {
	border-bottom: 1px solid rgba(0, 40, 100, 0.12);
	padding-bottom: 20px;
}

.input-searche-card {
	padding-left: 1rem !important;
}